@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-Sy_mghtUHEGS_font-family: "Inter", sans-serif;
  --mixin-Sy_mghtUHEGS_font-size: 16px;
  --mixin-Sy_mghtUHEGS_font-weight: 400;
  --mixin-Sy_mghtUHEGS_font-style: normal;
  --mixin-Sy_mghtUHEGS_color: #535353;
  --mixin-Sy_mghtUHEGS_text-align: left;
  --mixin-Sy_mghtUHEGS_text-transform: none;
  --mixin-Sy_mghtUHEGS_line-height: 1.5;
  --mixin-Sy_mghtUHEGS_letter-spacing: normal;
  --mixin-Sy_mghtUHEGS_white-space: pre-wrap;
  --mixin-Sy_mghtUHEGS_user-select: text;
  --mixin-Sy_mghtUHEGS_text-decoration-line: none;
  --mixin-Sy_mghtUHEGS_text-overflow: clip;
  --mixin-_9TaiPFMU_bK_color: #000000;
  --mixin-_9TaiPFMU_bK_font-weight: 900;
  --mixin-_9TaiPFMU_bK_font-size: 72px;
  --mixin-_9TaiPFMU_bK_line-height: 1;
  --mixin-_9TaiPFMU_bK_letter-spacing: -4px;
  --mixin-_9TaiPFMU_bK_white-space: pre-wrap;
  --mixin--VaQWKpo65WG_color: #000000;
  --mixin--VaQWKpo65WG_font-size: 48px;
  --mixin--VaQWKpo65WG_font-weight: 700;
  --mixin--VaQWKpo65WG_letter-spacing: -1px;
  --mixin--VaQWKpo65WG_line-height: 1.1;
  --mixin--VaQWKpo65WG_white-space: pre-wrap;
  --mixin-EI8BOtqqsd4P_color: #0070f3;
  --mixin-EI8BOtqqsd4P_white-space: pre-wrap;
  --mixin-OmGbTOSN1qrXx_color: #000000;
  --mixin-OmGbTOSN1qrXx_font-size: 32px;
  --mixin-OmGbTOSN1qrXx_font-weight: 600;
  --mixin-OmGbTOSN1qrXx_letter-spacing: -0.8px;
  --mixin-OmGbTOSN1qrXx_line-height: 1.2;
  --mixin-OmGbTOSN1qrXx_white-space: pre-wrap;
  --mixin-teOLUcfvaYPHu_color: #000000;
  --mixin-teOLUcfvaYPHu_font-size: 24px;
  --mixin-teOLUcfvaYPHu_font-weight: 600;
  --mixin-teOLUcfvaYPHu_letter-spacing: -0.5px;
  --mixin-teOLUcfvaYPHu_line-height: 1.3;
  --mixin-teOLUcfvaYPHu_white-space: pre-wrap;
  --mixin-yA5fHAY5YG1UW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-yA5fHAY5YG1UW_border-bottom-color: #dddddd;
  --mixin-yA5fHAY5YG1UW_border-bottom-style: solid;
  --mixin-yA5fHAY5YG1UW_border-bottom-width: 1px;
  --mixin-yA5fHAY5YG1UW_border-left-color: #dddddd;
  --mixin-yA5fHAY5YG1UW_border-left-style: solid;
  --mixin-yA5fHAY5YG1UW_border-left-width: 1px;
  --mixin-yA5fHAY5YG1UW_border-right-color: #dddddd;
  --mixin-yA5fHAY5YG1UW_border-right-style: solid;
  --mixin-yA5fHAY5YG1UW_border-right-width: 1px;
  --mixin-yA5fHAY5YG1UW_border-top-color: #dddddd;
  --mixin-yA5fHAY5YG1UW_border-top-style: solid;
  --mixin-yA5fHAY5YG1UW_border-top-width: 1px;
  --mixin-yA5fHAY5YG1UW_border-bottom-left-radius: 3px;
  --mixin-yA5fHAY5YG1UW_border-bottom-right-radius: 3px;
  --mixin-yA5fHAY5YG1UW_border-top-left-radius: 3px;
  --mixin-yA5fHAY5YG1UW_border-top-right-radius: 3px;
  --mixin-yA5fHAY5YG1UW_font-family: "Inconsolata";
  --mixin-yA5fHAY5YG1UW_padding-bottom: 1px;
  --mixin-yA5fHAY5YG1UW_padding-left: 4px;
  --mixin-yA5fHAY5YG1UW_padding-right: 4px;
  --mixin-yA5fHAY5YG1UW_padding-top: 1px;
  --mixin-yA5fHAY5YG1UW_white-space: pre-wrap;
  --mixin-GMDD0ezs-hn_b_border-left-color: #dddddd;
  --mixin-GMDD0ezs-hn_b_border-left-style: solid;
  --mixin-GMDD0ezs-hn_b_border-left-width: 3px;
  --mixin-GMDD0ezs-hn_b_color: #888888;
  --mixin-GMDD0ezs-hn_b_padding-left: 10px;
  --mixin-GMDD0ezs-hn_b_white-space: pre-wrap;
  --mixin-Dvk0fxL1FZYNk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Dvk0fxL1FZYNk_border-bottom-color: #dddddd;
  --mixin-Dvk0fxL1FZYNk_border-bottom-style: solid;
  --mixin-Dvk0fxL1FZYNk_border-bottom-width: 1px;
  --mixin-Dvk0fxL1FZYNk_border-left-color: #dddddd;
  --mixin-Dvk0fxL1FZYNk_border-left-style: solid;
  --mixin-Dvk0fxL1FZYNk_border-left-width: 1px;
  --mixin-Dvk0fxL1FZYNk_border-right-color: #dddddd;
  --mixin-Dvk0fxL1FZYNk_border-right-style: solid;
  --mixin-Dvk0fxL1FZYNk_border-right-width: 1px;
  --mixin-Dvk0fxL1FZYNk_border-top-color: #dddddd;
  --mixin-Dvk0fxL1FZYNk_border-top-style: solid;
  --mixin-Dvk0fxL1FZYNk_border-top-width: 1px;
  --mixin-Dvk0fxL1FZYNk_border-bottom-left-radius: 3px;
  --mixin-Dvk0fxL1FZYNk_border-bottom-right-radius: 3px;
  --mixin-Dvk0fxL1FZYNk_border-top-left-radius: 3px;
  --mixin-Dvk0fxL1FZYNk_border-top-right-radius: 3px;
  --mixin-Dvk0fxL1FZYNk_font-family: "Inconsolata";
  --mixin-Dvk0fxL1FZYNk_padding-bottom: 3px;
  --mixin-Dvk0fxL1FZYNk_padding-left: 6px;
  --mixin-Dvk0fxL1FZYNk_padding-right: 6px;
  --mixin-Dvk0fxL1FZYNk_padding-top: 3px;
  --mixin-Dvk0fxL1FZYNk_white-space: pre-wrap;
  --mixin-Ggza2GA6l0wsc_display: flex;
  --mixin-Ggza2GA6l0wsc_flex-direction: column;
  --mixin-Ggza2GA6l0wsc_align-items: stretch;
  --mixin-Ggza2GA6l0wsc_justify-content: flex-start;
  --mixin-Ggza2GA6l0wsc_list-style-position: outside;
  --mixin-Ggza2GA6l0wsc_padding-left: 40px;
  --mixin-Ggza2GA6l0wsc_position: relative;
  --mixin-Ggza2GA6l0wsc_list-style-type: disc;
  --mixin-Ggza2GA6l0wsc_white-space: pre-wrap;
  --mixin-hIw7mpnbI9zFB_display: flex;
  --mixin-hIw7mpnbI9zFB_flex-direction: column;
  --mixin-hIw7mpnbI9zFB_align-items: stretch;
  --mixin-hIw7mpnbI9zFB_justify-content: flex-start;
  --mixin-hIw7mpnbI9zFB_list-style-position: outside;
  --mixin-hIw7mpnbI9zFB_padding-left: 40px;
  --mixin-hIw7mpnbI9zFB_position: relative;
  --mixin-hIw7mpnbI9zFB_list-style-type: decimal;
  --mixin-hIw7mpnbI9zFB_white-space: pre-wrap;
  --mixin-5vxbpXzu6XUuc_color: #000000;
  --mixin-5vxbpXzu6XUuc_font-size: 20px;
  --mixin-5vxbpXzu6XUuc_font-weight: 600;
  --mixin-5vxbpXzu6XUuc_letter-spacing: -0.3px;
  --mixin-5vxbpXzu6XUuc_line-height: 1.5;
  --mixin-5vxbpXzu6XUuc_white-space: pre-wrap;
  --mixin-TEci0Irm02AWn_color: #000000;
  --mixin-TEci0Irm02AWn_font-size: 16px;
  --mixin-TEci0Irm02AWn_font-weight: 600;
  --mixin-TEci0Irm02AWn_line-height: 1.5;
  --mixin-TEci0Irm02AWn_white-space: pre-wrap;
  --mixin-cKlsBhnjnqcE0_color: #3291ff;
  --mixin-cKlsBhnjnqcE0_white-space: pre-wrap;
  --mixin-xlUulTQzNhD-0_white-space: pre-wrap;
  --mixin-kBqNBkbxndD-U_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-Sy_mghtUHEGS_font-family);
  font-size: var(--mixin-Sy_mghtUHEGS_font-size);
  font-weight: var(--mixin-Sy_mghtUHEGS_font-weight);
  font-style: var(--mixin-Sy_mghtUHEGS_font-style);
  color: var(--mixin-Sy_mghtUHEGS_color);
  text-align: var(--mixin-Sy_mghtUHEGS_text-align);
  text-transform: var(--mixin-Sy_mghtUHEGS_text-transform);
  line-height: var(--mixin-Sy_mghtUHEGS_line-height);
  letter-spacing: var(--mixin-Sy_mghtUHEGS_letter-spacing);
  white-space: var(--mixin-Sy_mghtUHEGS_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-_9TaiPFMU_bK_color);
  font-weight: var(--mixin-_9TaiPFMU_bK_font-weight);
  font-size: var(--mixin-_9TaiPFMU_bK_font-size);
  line-height: var(--mixin-_9TaiPFMU_bK_line-height);
  letter-spacing: var(--mixin-_9TaiPFMU_bK_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin--VaQWKpo65WG_color);
  font-size: var(--mixin--VaQWKpo65WG_font-size);
  font-weight: var(--mixin--VaQWKpo65WG_font-weight);
  letter-spacing: var(--mixin--VaQWKpo65WG_letter-spacing);
  line-height: var(--mixin--VaQWKpo65WG_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-EI8BOtqqsd4P_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-OmGbTOSN1qrXx_color);
  font-size: var(--mixin-OmGbTOSN1qrXx_font-size);
  font-weight: var(--mixin-OmGbTOSN1qrXx_font-weight);
  letter-spacing: var(--mixin-OmGbTOSN1qrXx_letter-spacing);
  line-height: var(--mixin-OmGbTOSN1qrXx_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-teOLUcfvaYPHu_color);
  font-size: var(--mixin-teOLUcfvaYPHu_font-size);
  font-weight: var(--mixin-teOLUcfvaYPHu_font-weight);
  letter-spacing: var(--mixin-teOLUcfvaYPHu_letter-spacing);
  line-height: var(--mixin-teOLUcfvaYPHu_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-yA5fHAY5YG1UW_font-family);
  border-radius: var(--mixin-yA5fHAY5YG1UW_border-top-left-radius)
    var(--mixin-yA5fHAY5YG1UW_border-top-right-radius)
    var(--mixin-yA5fHAY5YG1UW_border-bottom-right-radius)
    var(--mixin-yA5fHAY5YG1UW_border-bottom-left-radius);
  padding: var(--mixin-yA5fHAY5YG1UW_padding-top)
    var(--mixin-yA5fHAY5YG1UW_padding-right)
    var(--mixin-yA5fHAY5YG1UW_padding-bottom)
    var(--mixin-yA5fHAY5YG1UW_padding-left);
  border-top: var(--mixin-yA5fHAY5YG1UW_border-top-width)
    var(--mixin-yA5fHAY5YG1UW_border-top-style)
    var(--mixin-yA5fHAY5YG1UW_border-top-color);
  border-right: var(--mixin-yA5fHAY5YG1UW_border-right-width)
    var(--mixin-yA5fHAY5YG1UW_border-right-style)
    var(--mixin-yA5fHAY5YG1UW_border-right-color);
  border-bottom: var(--mixin-yA5fHAY5YG1UW_border-bottom-width)
    var(--mixin-yA5fHAY5YG1UW_border-bottom-style)
    var(--mixin-yA5fHAY5YG1UW_border-bottom-color);
  border-left: var(--mixin-yA5fHAY5YG1UW_border-left-width)
    var(--mixin-yA5fHAY5YG1UW_border-left-style)
    var(--mixin-yA5fHAY5YG1UW_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-GMDD0ezs-hn_b_color);
  padding-left: var(--mixin-GMDD0ezs-hn_b_padding-left);
  border-left: var(--mixin-GMDD0ezs-hn_b_border-left-width)
    var(--mixin-GMDD0ezs-hn_b_border-left-style)
    var(--mixin-GMDD0ezs-hn_b_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-Dvk0fxL1FZYNk_font-family);
  border-radius: var(--mixin-Dvk0fxL1FZYNk_border-top-left-radius)
    var(--mixin-Dvk0fxL1FZYNk_border-top-right-radius)
    var(--mixin-Dvk0fxL1FZYNk_border-bottom-right-radius)
    var(--mixin-Dvk0fxL1FZYNk_border-bottom-left-radius);
  padding: var(--mixin-Dvk0fxL1FZYNk_padding-top)
    var(--mixin-Dvk0fxL1FZYNk_padding-right)
    var(--mixin-Dvk0fxL1FZYNk_padding-bottom)
    var(--mixin-Dvk0fxL1FZYNk_padding-left);
  border-top: var(--mixin-Dvk0fxL1FZYNk_border-top-width)
    var(--mixin-Dvk0fxL1FZYNk_border-top-style)
    var(--mixin-Dvk0fxL1FZYNk_border-top-color);
  border-right: var(--mixin-Dvk0fxL1FZYNk_border-right-width)
    var(--mixin-Dvk0fxL1FZYNk_border-right-style)
    var(--mixin-Dvk0fxL1FZYNk_border-right-color);
  border-bottom: var(--mixin-Dvk0fxL1FZYNk_border-bottom-width)
    var(--mixin-Dvk0fxL1FZYNk_border-bottom-style)
    var(--mixin-Dvk0fxL1FZYNk_border-bottom-color);
  border-left: var(--mixin-Dvk0fxL1FZYNk_border-left-width)
    var(--mixin-Dvk0fxL1FZYNk_border-left-style)
    var(--mixin-Dvk0fxL1FZYNk_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-Ggza2GA6l0wsc_display);
  flex-direction: var(--mixin-Ggza2GA6l0wsc_flex-direction);
  align-items: var(--mixin-Ggza2GA6l0wsc_align-items);
  justify-content: var(--mixin-Ggza2GA6l0wsc_justify-content);
  list-style-position: var(--mixin-Ggza2GA6l0wsc_list-style-position);
  padding-left: var(--mixin-Ggza2GA6l0wsc_padding-left);
  position: var(--mixin-Ggza2GA6l0wsc_position);
  list-style-type: var(--mixin-Ggza2GA6l0wsc_list-style-type);
  flex-column-gap: var(--mixin-Ggza2GA6l0wsc_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-hIw7mpnbI9zFB_display);
  flex-direction: var(--mixin-hIw7mpnbI9zFB_flex-direction);
  align-items: var(--mixin-hIw7mpnbI9zFB_align-items);
  justify-content: var(--mixin-hIw7mpnbI9zFB_justify-content);
  list-style-position: var(--mixin-hIw7mpnbI9zFB_list-style-position);
  padding-left: var(--mixin-hIw7mpnbI9zFB_padding-left);
  position: var(--mixin-hIw7mpnbI9zFB_position);
  list-style-type: var(--mixin-hIw7mpnbI9zFB_list-style-type);
  flex-column-gap: var(--mixin-hIw7mpnbI9zFB_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-5vxbpXzu6XUuc_color);
  font-size: var(--mixin-5vxbpXzu6XUuc_font-size);
  font-weight: var(--mixin-5vxbpXzu6XUuc_font-weight);
  letter-spacing: var(--mixin-5vxbpXzu6XUuc_letter-spacing);
  line-height: var(--mixin-5vxbpXzu6XUuc_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-TEci0Irm02AWn_color);
  font-size: var(--mixin-TEci0Irm02AWn_font-size);
  font-weight: var(--mixin-TEci0Irm02AWn_font-weight);
  line-height: var(--mixin-TEci0Irm02AWn_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-cKlsBhnjnqcE0_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
