.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.section {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-right-color: #000000;
  border-bottom-color: #e5e5e5;
  min-width: 0;
  padding: 8px 12px;
  border-width: 1px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__dxj39 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox__alUi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 67px;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__gfz6U {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 11px;
  color: #333333;
}
.theme:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-end: span 2;
  min-width: 0;
}
.option__ujBy0:global(.__wab_instance) {
  position: relative;
}
.option__hCyd:global(.__wab_instance) {
  position: relative;
}
.option__aRsK8:global(.__wab_instance) {
  position: relative;
}
.option___1OAXc:global(.__wab_instance) {
  position: relative;
}
.freeBox__hHc63 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 67px;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__u0RC1 {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 11px;
  color: #333333;
}
.mode:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-end: span 2;
  min-width: 0;
}
.option__gUt1X:global(.__wab_instance) {
  position: relative;
}
.option___5Jtbh:global(.__wab_instance) {
  position: relative;
}
.option___8G3F:global(.__wab_instance) {
  position: relative;
}
.option__n7AvP:global(.__wab_instance) {
  position: relative;
}
.freeBox__uoFhi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 67px;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__i977Q {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 11px;
  color: #333333;
}
.surface:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-end: span 2;
  min-width: 0;
}
.option__oQwH:global(.__wab_instance) {
  position: relative;
}
.option__rztMh:global(.__wab_instance) {
  position: relative;
}
.option__y712P:global(.__wab_instance) {
  position: relative;
}
.option__iq3Xz:global(.__wab_instance) {
  position: relative;
}
.freeBox__xfz5F {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  padding: 12px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.svg__fiT0O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ixQWc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
